<div class="model">
  <div class="password">
    <h2>Account not found in this email</h2>
    <button class="btn pass-btn">OK</button>
  </div>
</div>
<script>
  const passBtn = document.querySelector(".pass-btn");
  passBtn.addEventListener("click", () => {
    location.reload();
  });
</script>
