<div class="wrapper">
  <div class="container">
    <div class="main">
      <div class="content">
        <div class="logo">
          <img src="/img/logo.svg" alt="Facebook logo" />
        </div>
        <h2>
          Facebook helps you connect and share with the people in your life.
        </h2>
      </div>
      <div class="form">
        <form>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Email address or phone number"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
          />
          <input type="submit" value="Log in" />
          <a href="#" class="forget center">Forgotten password?</a>
          <button class="btn btn-create">Create new account</button>
        </form>
      </div>
    </div>
  </div>
</div>
